/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.movie-title {
  color: white;
  border: none;
  background-color: lightgrey;
  width: 50%;
  height: 100px;
  transition: 1s ease all;
  font-size: xx-large;
	text-align: center;
}

form {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#submit {
	width: 50%;
}
.searchSize  {
  width: 100%;
  height: 50px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1%;
  transition: 1s ease all;
}

li {
	list-style: none;
}

img {
	height: 25%;
	width: 25%;
	margin-right: 20px;
}

#movieList {
	background-color: lightgrey;
	padding: 10px;
	margin-left: 10%;
	max-width: 300px;
	min-width: 300px;
}

#movieInfo {
	margin-left: 5%;
	display: flex;
	margin-top: 40px;
}

.movieInList {
	color: white;
	border: 1px solid yellow;
	margin-bottom: 10px;
}

.movieInList:hover {
	border: none;
}

#movieDivs {
	display: flex;
}

.title {
	line-height: 2;
	font-size: xx-large;
}
