<!DOCTYPE html>
<html ng-app="omdb">
  <head>
    <meta charset="utf-8">
    <title>OMDB Angular App</title>
    <link rel="stylesheet" type="text/css" href="./stylesheet/angStyle.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="./scripts/ang.js"></script>
    <script src="./scripts/jquery.js"></script>
  </head>
  <!-- Movie Search Box -->
    <div class='search'>
      <body ng-controller='MovieController as movieCtrl'>

      <form ng-submit='movieCtrl.formAction()'>

        <input type="text" placeholder="Enter movie name" class="movie-title" ng-keypress="movieCtrl.formAction()" ng-model='movieCtrl.movieSearch'>
          <button id="submit">
            Submit
          </button>

      </form>

      <!-- Display list of movies from search -->
      <div id='movieList'>
        <h1>Select a movie:</h1>
        <h3>Searching for: <span ng-bind="movieCtrl.movieSearch"></span></h3>

        <div ng-repeat="movie in movies" class="movieInList">
          <li ng-click="movieCtrl.movieSelect(movie.imdbID)">{{movie.Title}}  ({{movie.Year}})</li>
        </div>

      </div>

      <div id='movieInfo'>
        <h1>Movie Data:</h1>
        <div ng-repeat="movie in movie">
          <p>{{movie.Title}}</p>
          <p>{{movie.Year}}</p>
          <p>{{movie.Actors}}</p>

        </div>
      </div>


  </body>
</html>
